.top-bar-container{
    height: 10vh;
    width: 100vw;
    display: flex;
    background: dimgray;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}

.top-title{
    color: white;
    font-size: 3em;
    margin-left: 50px;
    font-family: 'Noto Sans HK', sans-serif;
    margin-bottom: 20px;
}

nav ul{
    width: 10vw;
    display: flex;
    flex-direction: row;
    margin-right: 150px;
    justify-content: space-between;
}
nav ul li{
    width: 10vw;
    color: white;
    font-size: 1.2em;
    font-family: 'Noto Sans HK', sans-serif;
    margin: 20px;
}
.black-box-container{
    height: 60vh;
    width: 100vw;
    background: black;
    display:flex;
    justify-content: center;
    align-items: center;

}
.black-title{
    color: rgb(240, 216, 83);
    font-size: 7em;
    font-family: 'Roboto Condensed', sans-serif;
}
.white-container-1{
    height: 60vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.aqua-box-1{
    height: 400px;
    width: 400px;
    background: palegreen;
    border-radius: 25px;
}
.aqua-box-2{
    height: 400px;
    width: 400px;
    background: palegreen;
    border-radius: 25px;
}
.aqua-box-3{
    height: 400px;
    width: 400px;
    background: palegreen;
    border-radius: 25px;
}
.white-container-2{
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.orange-rec-1{
    height: 400px;
    width: 750px;
    background: rgb(241, 165, 72); 
}
.orange-rec-2{
    height: 400px;
    width: 750px;
    background: rgb(241, 165, 72);
}
.white-container-3{
    height: 40vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.paragraph{
    height: 250px;
    width: 500px;
    font-size: 1.5em;
}
.can-i-change-this{
    height: 300px;
    width: 500px;
}
.footer-bar{
    height: 20vh;
    width: 100vw;
    background: rgb(41, 36, 71)
}